<h1 style="display: none">Gus LeTourneau. Senior at Brown University concentrating in Applied Math - Computer Science. Learn more about work, skills, and contact info!</h1>
<h1 id="scroll-mark" class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down" data-aos-offset="6.75rem">
  🙋‍♂️ My name is Gus LeTourneau
</p>
<p class="description" data-aos="fade-down" data-aos-offset="6.75rem">
  📍 I'm from Minnesota
</p>
<p class="description" data-aos="fade-down" data-aos-offset="6.75rem">
  👨‍💻 I'm a software engineer focused in full stack web and AI/ML development
</p>
<p class="description" data-aos="fade-down" data-aos-offset="6.75rem">
  🎓 I'm concentrated in Applied Math & Computer Science at Brown University
</p>
<p class="description" data-aos="fade-down" data-aos-offset="6.75rem">
  💗 I'm passionate about the intersection of math and computer science in real world applications
</p>
