<h1 class="title">{{site.about_me_title}}</h1>
<h1>
  👋 Hi! I am...
</h1>
<p class="description" data-aos="fade-down">
  🙋‍♂️ Gus LeTourneau!
</p>
<p class="description" data-aos="fade-down">
  🎓 a senior concentrating in Applied Math - Computer Science at Brown University
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 a software engineer focused in full stack web and AI/ML development
</p>
<p class="description" data-aos="fade-down">
  💗 passionate about the intersection of math and computer science in real world applications
</p>
